networks:
  default:
    driver: bridge
    name: roboshop
    external: true #I created network already using docker network create roboshop

services:
  mongodb:
    image: venkatsai4005/mongodb:v1
    container_name: mongodb
   
  catalogue:
    image: venkatsai4005/catalogue:v1
    container_name: catalogue
    depends_on:
    - mongodb
  redis:
    image: redis:7.0
    container_name: redis
    
  user:
    image: venkatsai4005/user:v1
    container_name: user
    depends_on:
    - redis
    - mongodb
  cart:
    image: venkatsai4005/cart:v1
    container_name: cart
    depends_on:
    - catalogue
    - redis
  mysql:
    image: venkatsai4005/mysql:v1
    container_name: mysql
    
  shipping:
    image: venkatsai4005/shipping:v1
    container_name: shipping
    depends_on:
    - mysql
    - cart
   
  rabbitmq:
    image: rabbitmq:3
    container_name: rabbitmq
    environment:
     RABBITMQ_DEFAULT_USER: roboshop
     RABBITMQ_DEFAULT_PASS: roboshop123
  
  shipping:
    image: venkatsai4005/payment:v1
    container_name: payment
    environment:
      CART_HOST: cart
      CART_PORT: 8080
      USER_HOST: user
      USER_PORT: 8080
      AMQP_HOST: rabbitmq
    depends_on:
     - rabbitmq
     - cart
     - user
